table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #5391f7;
}

.delete-btn {
  background-color: maroon;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 6px;
}